*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

button:hover, button:focus, .button:hover, .button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 50% */
  opacity: 0.5;
}

html {
  height: 100%;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}

body {
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

.button-class {
  width: 130px;
  background-color: green;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 16px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid lightseagreen;
}

.pokemon-list {
  list-style-type: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

#modal-container {
  /* CSS for modal container - add your own desired CSS styles here */
  display: none;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 350px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
  text-align: left;
}

.modal p {
  margin-bottom: 0;
  text-align: left;
}

.pokeImage {
  height: 200px;
  margin-left: 65px;
}

h1 {
  text-align: center;
}