*,
*:before,
*:after {
    box-sizing: border-box;
  }

button:hover, button:focus, .button:hover, .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 50% */
    opacity: 0.5;
}