*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  margin-bottom: 30px;
}

body {
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  min-height: 100vh;
}


.btn,
btn-primary {
  width: 200px;
  border-radius: 10px;
}

.group-list-item {
  display: flex;
  justify-content: center;
  margin: 4px;
  list-style: none;
}

.modal-content {
  margin-top: 60px;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.pokeImage {
  width: 30%;
  align-self: center;
}
